---
import { Icon } from "astro-icon/components";
// https://icones.js.org/
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">Works with your technologies</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <Icon class="h-8 md:h-12 w-8 md:w-12" name="simple-icons:react" />
    <Icon class="h-8 md:h-12 w-8 md:w-12" name="simple-icons:vuedotjs" />
    <Icon class="h-8 md:h-12 w-8 md:w-12" name="simple-icons:nextdotjs" />
    <Icon class="h-8 md:h-12 w-8 md:w-12" name="simple-icons:nuxtdotjs" />
    <Icon class="h-8 md:h-12 w-8 md:w-12" name="simple-icons:astro" />
    <Icon class="h-8 md:h-12 w-8 md:w-12" name="simple-icons:html5" />
    <Icon class="h-8 md:h-12 w-8 md:w-12" name="simple-icons:typescript" />
    <Icon class="h-8 md:h-14 w-8 md:w-14" name="simple-icons:tailwindcss" />
    <Icon class="h-8 md:h-12 w-8 md:w-12" name="simple-icons:vercel" />
  </div>
</div>
